{% extends 'kims/base.html'%}
{% block content %}

<div class="container">
  <hr>
  <h1>ABOUT</h1>
  <p>In vehicula a turpis vel porta. Pellentesque eget consequat ante, id dignissim nibh.
    Mauris vehicula justo tellus, at pharetra nisl fermentum in. Nam sit amet elit metus.
    Morbi nisl lectus, molestie vitae massa at, vestibulum sagittis odio. Integer tristique
    felis at sagittis scelerisque. Phasellus faucibus nisl non nibh viverra, elementum
    tristique lacus congue. Suspendisse non vulputate massa. Phasellus urna nunc, congue
    a auctor eget, blandit condimentum lorem. Integer laoreet, magna ut tincidunt commodo,
    arcu sem placerat est, ac suscipit sapien dolor nec magna. Maecenas id dolor condimentum,
    vulputate sapien vel, viverra erat. Maecenas sagittis fermentum tortor.
  Aenean ullamcorper sed magna sed vulputate. Etiam volutpat mauris quis convallis feugiat.
    Phasellus pulvinar dolor ut lacus elementum, at vestibulum purus faucibus. Praesent
    malesuada risus a ex sollicitudin, sit amet facilisis magna finibus. In hac habitasse
    platea dictumst. Curabitur ac elementum mi. Sed auctor nibh a tristique bibendum. Orci
    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Nullam eleifend hendrerit quam sed volutpat. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Curabitur sodales dapibus risus, a fringilla turpis tristique vitae.
    Donec eu turpis risus. Integer convallis ante pretium lectus laoreet dapibus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut libero pretium,
    scelerisque nisl ut, ultricies nunc. Mauris in tincidunt augue.</p>
</div>
{% endblock content %}