{% extend 'base/login_register.html' %}

{% block content %}
<div class="mb-3">
      <form method="POST">
      {% csrf_token %}
        <div class="user">
          <label>Username:</label>
          <br>
          <input class="text-field" type="text" name="username" placeholder="Enter Username">
        </div>
        <div class="pass">
          <label>Password:</label>
          <br>
          <input class="text-field" type="password" name="password" placeholder="Enter Password">
        </div>
        <div>
            {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>
            {{ message }}
            {% endfor %}
          </li>
        </ul>
      {% endif %}
        </div>
        <input  class="btn btn-outline-info" type="submit" value="Login">
      </form>
      </div>
      <div class="mb-3">
        <a href="#">Forgot Password?</a>
        <hr>
        <p>Need An Account?  <a class="create-account-link" href="{% url 'register' %}">Register Now!</a></p>
      </div>

{% endblock content %}