{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>KIMS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="{% static 'login_register/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/essentials/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/essentials/animate/animate.css' %}">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/essentials/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/essentials/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/essentials/select2/select2.min.css' %}">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/essentials/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login_register/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url(/static/login_register/images/bg-01.jpg);">
          <span class="login100-form-title-1">
            Recovery
          </span>
        </div>

        <form class="login100-form validate-form" method="POST">
          {% csrf_token %}
          {{form|crispy}}
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Submit
            </button>
            <div class="mt-3 flex-sb-m w-full p-b-30"><a href="{% url 'login' %}" class="txt1">Have an account?</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
<!--===============================================================================================-->
  <script src="{% static 'login_register/essentials/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'login_register/essentials/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'login_register/essentials/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'login_register/essentials/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'login_register/essentials/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'login_register/essentials/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'login_register/essentials/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'login_register/essentials/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'login_register/js/main.js' %}"></script>

</body>
</html>